<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VERDÉ - Forgot Password</title>
</head>
<body>

    <h1>Forgot Password</h1>

    <!-- Form for entering the account email -->
    <form id="forgotPasswordForm">

        <label for="email">Email</label>
        <input type="email" id="email" required>

        <br><br>

        <button type="submit">Send OTP</button>

    </form>
    <script>
    // Handle forgot password form submission
        document.getElementById("forgotPasswordForm").addEventListener("submit", async function(event) {

            // Prevent the browser from refreshing the page
             event.preventDefault();

            // Get the email entered by the user
            const email = document.getElementById("email").value;

            // Send the email to the Django forgot-password API
            const response = await fetch("/forgot-password/send-otp/", {
                 method: "POST",
                 headers: {
                    "Content-Type": "application/json"
                    },
                body: JSON.stringify({
                email: email
                })
            });

            // Convert the response into JSON
            const result = await response.json();

           // Handle the forgot password response
            if (response.ok) {
            // Go to the OTP verification page after OTP is generated
            window.location.href = "/reset-password-otp/";
            } else {
            // Show the error message
            alert(result.error);
            }
        });
    </script>

</body>
</html>